HELP.md

# Archivos de compilación de Maven
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Archivos generados por Java
*.class

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.swp
*.bak

# Archivos de sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
desktop.ini

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Archivos de configuración locales y envs
*.env
*.local
*.config

# Otros formatos de exportación
*.war
*.ear
*.zip
*.tar.gz
